<!DOCTYPE html>
<html>
      <head>
            <title> {{page.title}} </title>
            <link rel="stylesheet" type="text/css" href="/css/main.css">
      </head>
      <body>
              <nav>
              <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/about">Acerca de mí</a></li>
                    <li><a href="/project">proyecto</a></li>
                    <li><a href="/hw">Tareas</a></li>
                    <li><a href="/Bibliograph">Bibliografía</a></li>
                    
              </ul>
              </nav>
              <div class="container">
              {{content}}
              </div>
              <footer>
              <ul>
                    <li><a href="mailto:mhax.yauri@upch.pe">Correo electrónico</a></li>
                    <li><a href="https://github.com/mhaxkh/">github.com/mhaxkh/</a></li>
              </ul>
              </footer>
              </body>
              </html>
